<div class="container p-0 m-0">
    <div class="row p-2">
        <div class="col-sm-3">
            <h1>Click-game</h1>
            <button mat-flat-button color="primary" (click)="startGame()">
                Let's Start
            </button>
            <p class="mt-3">
                Time left: <b>{{timeLeft}}</b><br>
                Steps: <b>{{actualSteps}}</b>
            </p>
            <h2>Rules:</h2>
            <p>You need to click as fast as possible to the green buttons
                <br> If you click anywhere else, you lose!
            </p>
            <h2>About</h2>
            <p>This game's reason is to understand and play the RxJS Libary Observables Subscribe/Unsubscribe 
                <br>I've also try to inherit play with the inheritance in TableIndexArray
            </p>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let gx of generateTable();let x=index;">
                <button *ngFor="let gy of generateTable();let y=index;" 
                        [ngClass]="getTableClass(x,y)"
                        (click)="onTableClick(x,y)"> 
                </button>
            <div>
        </div>
    </div>    
</div>
