<mat-toolbar color="primary">
    <span>LexyBunnyy's Website</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/cv"><span class="material-icons">
        portrait
        </span>CV</button>
    <button mat-button [matMenuTriggerFor]="menu">
        <span class="material-icons">
            calculate
        </span>
        References</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/click-game">Click Game</button>
        <button mat-menu-item routerLink="/tableGame">Moving Game</button>
        <a mat-menu-item href="https://www.hackerrank.com/certificates/e131d2711aa3" target="_blank">
            HackerRank Certificates
        </a>
        <a mat-menu-item href="https://github.com/lexybunnyy" target="_blank">
            GitHub Projects
        </a>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button >
        <a href="https://github.com/lexybunnyy">
            <img class="icon" src="assets/GitHub-Mark-Light-32px.png"/>
        </a>
    </button>
    <button mat-icon-button >
        <a href="https://www.linkedin.com/in/alexandra-nyilas-307284b5/">
            <img class="icon" src="assets/LI-In-Bug.png"/>
        </a>
    </button>

</mat-toolbar>
<alert-list></alert-list>
<router-outlet></router-outlet>
