<mat-toolbar color="primary" class="no-print">
    <span>Lexy's Website</span>
    <!--button mat-button routerLink="/home">
        <span class="material-icons">home</span>
        Home
    </button-->

    <button mat-button [matMenuTriggerFor]="cvmenu">
        <span class="material-icons">portrait</span>
        My CVs
    </button>
    <mat-menu #cvmenu="matMenu">
        <button mat-menu-item routerLink="/cv">
            <span class="material-icons">grid_on</span>
            Web CV</button>
        <a mat-menu-item href="assets/lexy_cv_html.pdf" target="_blank">
            <span class="material-icons">open_in_new</span>
            CV from HTML 
        </a>
        <a mat-menu-item href="assets/lexy_cv_latex.pdf" target="_blank">
            <span class="material-icons">code</span>
            CV from Latex
        </a>
        <a mat-menu-item href="assets/lexy_cv_word.pdf" target="_blank">
            <span class="material-icons">format_textdirection_l_to_r</span>
            CV from Word
        </a>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">
        <span class="material-icons">
            calculate
        </span>
        References</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/click-game">Click Game</button>
        <button mat-menu-item routerLink="/tableGame">Moving Game</button>
        <a mat-menu-item href="https://www.hackerrank.com/lexybunnyy" target="_blank">
            HackerRank Certificates
        </a>
        <a mat-menu-item href="https://github.com/lexybunnyy" target="_blank">
            GitHub Projects
        </a>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button class="hideinsmall">
        <a href="https://github.com/lexybunnyy">
            <img class="icon" src="assets/GitHub-Mark-Light-32px.png"/>
        </a>
    </button>
    <button mat-icon-button class="hideinsmall">
        <a href="https://www.linkedin.com/in/alexandra-nyilas-307284b5/">
            <img class="icon" src="assets/LI-In-Bug.png"/>
        </a>
    </button>
</mat-toolbar>
<alert-list></alert-list>
<router-outlet></router-outlet>
