

.example-spacer {
    flex: 1 1 auto;
  }
  
.icon{
    max-width: 70%;
    height: auto;
    //filter: grayscale(0%);
    filter: brightness(1000%);
    
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}