  <div class="kapcsolat-container">
    <div class="text-section">
      <p><a href="https://goo.gl/maps/DTo1Hb3HdVT2" target="_blank"><i class="fa fa-map-marker"></i> 8000 Székesfehérvár Rózsahegyi u. 11</a></p>
      <p><i class="fa fa-phone"></i> +36-22-301-216</p>
      <h4 class="h4Contact">Asztalos munkák:</h4>
      <p class="contactItem"><i class="fa fa-user"></i> {{'Ifj Cselyuszka Antal'}}</p>
      <p class="contactItem"><i class="fa fa-mobile-phone"></i> +36-20-954-8650</p>
      <p class="contactItem"><i class="fa fa-envelope"></i> {{'cselyuszka@gmail.com'}}</p>
      <h4 class="h4Contact">Könyvelés:</h4>
      <p class="contactItem"><i class="fa fa-user"></i> Cselyuszka Antalné</p>
      <p class="contactItem"><i class="fa fa-mobile-phone"></i> +36-20-554-5615</p>
      <p class="contactItem"><i class="fa fa-envelope"></i> {{'cselyuszka.gyorgyi@gmail.com'}} </p>
    </div>
    <div class="map-section">
      <div class="col-sm-12 text-center social">
        <ul>
          <li><a href="https://www.facebook.com/adogyalu"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://goo.gl/maps/DTo1Hb3HdVT2" target="_blank"><i class="fa fa-map-marker"></i></a></li>
        </ul>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.983820513557!2d18.45632471497174!3d47.216898879160716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a1d58ffd5867f%3A0x344efd0988ec6989!2sAd%C3%B3-Gyalu+Kft!5e0!3m2!1shu!2shu!4v1521642575196" width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>

    </div>
  </div>