<div class="col-md-8 col-md-offset-2">
<div class="about-text">
    <p>Cégünk 20 éves tapasztalattal áll megrendelői rendelkezésére.</p>
    <p>Asztalos munkatársaink a következő munkák elvégzését vállalják: lépcső, konyhabútor, egyedi bútorkészítés, valamint lovasakadályok, előtető, kerítés készítése, nyílászáró, ajtó, ablak készítése.</p>
    <p>Számviteli szolgáltatás keretében vállaljuk a következő feladatok elvégzését: teljeskörű könyvelés társaságok, egyéni vállalkozók részére, bérszámfejtés, adótanácsadás.</p>
    <a href="#konyveles" class="btn btn-default btn-lg page-scroll">Adózás/Könyvelés</a> 

    <a href="#asztalos" class="btn btn-default btn-lg page-scroll">Asztalos referenciák</a> 
</div>
</div>