
<div class="grid-container">
    <div class="name">
        <h1>
            Alexandra Nyilas 
        </h1>
        <h2>
            Software developer
        </h2>
    </div>
    <div class="topic-full"><h1>Experience:</h1></div>

    <div class="picsm">
        <img src="assets/evosoft.png" alt="Evosoft Logo">
    </div>
    <div class="details">
        <h1>Evosoft / Angular Developer</h1>
        <h2>AUG 2022 - NOW</h2>
        <p>
            Programming in Angular, TypeScript
        </p>
    </div>


    <div class="pic">
        <img src="assets/morgan.jpeg" alt="Morgan Stanley Logo">
    </div>
    <div class="details">
        <h1>Morgan Stanley / Software Developer</h1>
        <h2>JUN 2019 - AUG 2020 (PART-TIME)</h2>
        <h2>FEB 2022 - JUN 2022 (PART-TIME)</h2>
        <p>
            Programming in Angular, TypeScript, Java, Scala and Python 
            Deployment automatisation with Train and Jira, Twiki Page editing
        </p>
        <h2>FEB 2016 - APR 2018 (FULL-TIME)</h2>
        <p>
            Front-end development in C# and SQL
        </p>
    </div>


    <div class="picsm">
        <img src="assets/icons8-account-100.png" alt="chart">
    </div>
    <div class="details">
        <h1>Freelancer / Frontend developer</h1>
        <h2>NOV 2020 -  MAY 2021</h2>
        <p>
            Design and implementing web applications for energy trading using Angular, Typescript, Bootstrap and Python technologies in the AWS environment 
        </p>        
        <h2>JUL 2021 -  PRESENT</h2>
        <p>Teaching Javascript</p>
    </div>


    <div class="pic">
        <img src="assets/playNGo.png" alt="playNGo">
    </div>
    <div class="details">
        <h1>Play'n Go/ Software Tester/Tool Developer</h1>
        <h2>JUN 2015 - JAN 2016</h2>
        <p>
            Developing helping tools for testing in Python and C# 
            Manual testing casino games for browsers and mobiles as part of the QA team
        </p>
    </div>

    <div class="picsm">
        <img src="assets/vcc.jpg" alt="VCC logo">
    </div>
    <div class="details">
        <h1>Virtual Call Center / Software Developer</h1>
        <h2>FEB 2014 - MAY 2015</h2>
        <p>
            Agile software development based on Scrum methodology in JavaScript (Mozilla application framework) and PHP/SQL; Learning version control system (Git)
        </p>
    </div>

    <div class="picsm">
        <img src="assets/icons8-hand-with-pen-100.png" alt="Other Skill Logo">
    </div>
    <div class="details">
        <h1>Other skills:</h1>
        <h2>Driving licence (B)</h2>
        <h2>English (B2 Professional)</h2>
    </div>

    <div class="topic-full"><h1>Education:</h1></div>
    <div class="pic">
        <img src="assets/elte_logo.png" alt="playNGo">
    </div>
    <div class="details">
        <h1>Eötvös Loránd University / Computer Science BSc</h1>
        <h2>2010 - 2014,  BUDAPEST</h2>
        <p>
            Informatics for Computer Programming, specialization in Software development
        </p>
    </div>
    <div class="pic">
        <img src="assets/morgan.jpeg" alt="Morgan Stanley logo">
    </div>
    <div class="details">
        <h1>Morgan Stanley / Technology Analyst Program</h1>
        <h2>FEBRUARY 2016 - MAY 2016  NEW YORK, LONDON</h2>
        <p>
            Programming Fundamentals: JavaScript, HTML, AngularJS, C++, C#, Java, Scala            
        </p>
    </div>
    <div class="picsm">
        <img src="assets/icons8-paper-plane-100.png" alt="Contact logo">
    </div>
    <div class="details">
        <h1>Contact</h1>
        <p>+36709778006</p>
        <p>alexandra.cselyuszka@gmail.com</p>
        <p><a href="linkedin.com/in/alexandra-nyilas-307284b5">linkedin.com/in/alexandra-nyilas-307284b5</a></p>
        <p><a href="lexybunnyy.net">lexybunnyy.net</a></p>
    </div>
</div>