.name {
    width: 100%;
    height: 100%;
    background-color: rgb(135, 68, 211);
    text-align: left !important;
    justify-content: flex-start !important;
    padding-top: 10px;
    padding-left: 10px;
}
.about {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(181, 139, 210, 0.547);

    text-align: left !important;
    justify-content: flex-start !important;
}

.labels {
    background-color: rgb(189, 158, 226);
    width: 100%;
    text-align: left !important;
}

.cv {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.ms {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}


h1 {

}